/*Navbar*/
.nav-item, .navbar{
    background-color: white !important;
  }
  #logo {
    margin-left: 30px;
    font-weight: bold ;
  }
  .nav-item, .dropdown-item {
    padding-left: 30px;      
    font-size: 18px;
    font-weight: bold ;
  }
  
  /*Hero*/
  .off-white {
    background-color: #f0f0f0;
  }

  #hero-img {
    border: 3px solid black;
    width: 350px;
    height: 350px;
    background-color: coral;
    background-image: url('./img/dum-prof1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: randomShape 12s infinite alternate;
  }
  
  @keyframes randomShape {
    0% {
      border-radius: 50% 50% 50% 50%; /* Circle */
    }
    25% {
      border-radius: 30% 70% 50% 50%; /* Randomized rounded shape */
    }
    50% {
      border-radius: 70% 30% 50% 50%; /* Another randomized shape */
    }
    75% {
      border-radius: 50% 50% 30% 70%; /* Yet another randomized shape */
    }
    100% {
      border-radius: 50% 50% 50% 50%; /* Back to circle */
    }
  }
  .h1 {
    font-size: 3.5rem;
    line-height: 1.3 !important;
  }
  .hero-con {
    padding-top: 7.5rem !important; 
      }
  .app {
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
  }
  .tech {
    padding-bottom: 7.5rem !important;
  }
  
  .icon{
    fill: #000; 
    height: 35px; 
  }
  
  .icon:hover {
    fill: #147efb;
  } 

  @media (max-width:768px) {
    #hero-img {
      margin-top: -3rem;
     
    }
    .h-icon {
      text-align: center;
      margin-top: -2rem;
    }
    .h-link {
      justify-content: center !important;
    }
    .h1 {
      margin-top: 5rem;
      font-size:2.4em;
      line-height: 1 !important;
    }
    .about-pic>img {
      margin-left: .3rem !important;
      display: flex; text-align: center; justify-content: center; align-items: center;
    }
    .about{
      padding-top: 20rem;
      text-align: center !important;
    }
    .contact {
      margin-top: -1rem !important;
    }
    
    .main {
      margin-left: 1rem !important;

    }
  }
  @media (max-width:576px) {
    #hero-img {
      width: 250px;
      height: 250px;
      
    }
    
  }
  @media (max-width:992px) {
    
    .main img {
      height: 150px !important;
      width: auto;
    }
    .main svg {
      height: 150px !important;
      width: auto;
    }
    
  }

  /*About*/
  .about-def {
    margin-right: -70px;
    
  }
  .fs-5 {
    font-weight: 350;
    font-size: 18px !important;
    color:rgb(88, 88, 88);
  }
  .fs-6 {
    font-weight: 600;
    font-size: 18px !important;
  }
  .title {
    color: #147efb;
  }
  .about-pic img {
    border-radius: 40px;
    margin-left: -1rem;
  }

  .text {
    font-weight: 600;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    fill: #111;
    z-index: 1;
  }

  #rotatingText {
    animation-name: rotate-circle;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotate-circle {
    to {
      transform: rotate(1turn);
    }
  }


  .main {
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 1;
    margin-top: -8rem;
    margin-left: -2rem;

    
  }

  .main img {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
  }

  /*Portfolio*/
  .card {
    border: none;
  }
  .round {
    border-radius: 30px;
    border: 2px solid black;
  }
  .plink {
    color: black !important;
  }
  .plink:hover{
    color: #1480fa !important;
  }
  
  /*Contact*/
  .pcon {
    margin-bottom: 0.3rem;
  }

  /*Footer*/
  #footer {
    background-color:#2D2E32 !important;
    height: 150px;
    margin-bottom: -100px;
   
  }
  .buttonp{
    color: black !important;
  }
